/* Base styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

/* Header styles */
header {
    background-color:#1f307d;
    color: white;
    text-align: center;
    padding: 1rem;
}

/* Navbar styles */
.navbar {
    margin-bottom: 1rem;
}

/* Section styles */
section {
    margin: 2rem 0;
}

/* Footer styles */
footer {
    background-color: #1f307d;
    color: white;
    text-align: center;
    padding: 1rem;
}
